*.back
*.pyc
*~
*.bat
*.sh
*.sdf
*.opensdf
*.suo
*.sln
*.vcxproj
*.vcxproj.*
*.o 
*.a
*.so
*.pyd
*.log
*.jpg
*.png
*.bmp
batch/
Build/
build2/
Backup/
Data/
Docs/
log/
Libraries/
runMTF
runMTFd
testMTF
testMTFd
ThirdParty/TLD/Build/
ThirdParty/TLD/3rdparty/cvblobs/Build/
ThirdParty/CMT/Build/
ThirdParty/Struck/Build/
ThirdParty/FRG/Build/
ThirdParty/DFT/src/ISMAR_Demo/DFTDemo
ThirdParty/DFT/src/*.o