*/
!attention/
!deep_learning/
!reinforcement_learning/
!notes/
!siamese/
!ATOM Accurate Tracking by Overlap Maximization ax1811.07628 cvpr19.pdf
!Bridging the Gap Between Detection and Tracking A Unified Approach iccv19.pdf
